
<%-include('header')-%>
<div class="text-center center-div py-3 mt-5">
    <div class="container border mt-5 py3">
        <h3>Welcome to dashboard</h3>
        <h2><%=locals.user?user:"User"%></h2>
        <a href="/logout">Logout</a>
    </div>
</div>
<%-include('footer')-%>
